/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color:aliceblue
    color: #303030;
    font-family: monospace;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

article {
    text-align: justify;
    margin: 15px;
}

div {
    clear: both;
}

header {
    color: rgb(black);
    text-align: center;
    border: double;
    border-color: rgb(255, 0, 0)
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

/* plaatjes */

img.FRIENDS1 {
    float: left;
    margin: 15px;
    width: 40%;
}

img.FRIENDS2 {
    float: right;
    margin: 15px;
    width: 40%;
}

img.jennifer {
    float: left;
    margin: 10px;
    width: 30%;
}

img.courteney {
    float: right;
    margin: 15px;
    width: 30%;
}

img.lisa {
    float: left;
    margin: 15px;
    width: 25%;
}

img.matthew {
    float: right;
    margin: 15px;
    width: 25%;
}

img.matt {
    float: left;
    margin: 15px;
    width: 25%;
}

img.david {
    float: right;
    margin: 15px;
    width: 18%;
}

img.friendscastprijzen{
    float: right;
    margin: 15px;
    width: 40%;
}

img.legoset {
    float: left;
    margin: 15px;
    width: 50%;
}

img.funkopops {
    float: right;
    margin: 15px;
    width: 40%;
}

img.jenniferprijs {
    float: right;
    margin: 15px;
    width: 25%;
}

img.friendsredcarpet{
    float: right;
    margin: 15px;
    width: 40%;
}

img.instagram {
    float: center;
    margin: 1px;
    width: 6%;
}

img.gunther {
    float: left;
    margin: 15px;
    width: 23%;
}

img.janice {
    float: right;
    margin: 15px;
    width: 23%;
}

img.mike {
    float: left;
    margin: 15px;
    width: 23%;
}

img.amy {
    float: right;
    margin: 15px;
    width: 25%;
}

img.netflix {
    float: center;
    margin: 1px;
    width: 15%;
}

img.twitter {
    float: center;
    margin: 1px;
    width: 10%;
}
/* specifieke stijlen */

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1.rood {
    background-color: rgb(255, 0, 0);
    text-align: center;
}

h1.blauw {
    background-color: rgb(0, 0, 255);
    text-align: center;
}

h2.rood {
    background-color: rgb(255, 0, 0);
    text-align: center;

}

h2.blauw {
    background-color: rgb(0, 0, 255);
    text-align: center;
}

h2.geel {
    background-color: rgb(255, 255, 0);
    text-align: center;
}

h4.geel {
    background-color: rgb(255, 255, 0);
    text-align: center;
}

h4.rood {
    background-color: rgb(255, 0, 0);
    text-align: center;
}

h4.blauw {
    background-color: rgb(0, 0, 255);
    text-align: center;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ff0000;
}

nav li a.active {
    background-color: rgb(0, 0, 0);
}

/* animaties*/

 @keyframes fadeIn {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }

 .fade-in {
     animation: fadeIn 10s;
 }

@keyframes slide {
    0% {
        left: -200px;
    }
    100% {
        left: 0px;
    }
}

.slide {
    position: relative;
    animation: slide 5s;
}