/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color:aliceblue
    color: #303030;
    font-family: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    margin: 15px;
}

div {
    clear: both;
}

header {
    color: rgb(black);
    text-align: center;
    border: dashed;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

/* specifieke stijlen */

div.Friends1 {
    clear: both;
}

img.FRIENDS1 {
    float: left;
    margin: 15px;
    width: 40%;
}

img.FRIENDS2 {
    float: right;
    margin: 15px;
    width: 40%;
}

img.jennifer {
    float: left;
    margin: 10px;
    width: 30%;
}

img.courteney {
    float: right;
    margin: 15px;
    width: 30%;
}

img.lisa {
    float: left;
    margin: 15px;
    width: 25%;
}

img.matthew {
    float: right;
    margin: 15px;
    width: 25%;
}

img.matt {
    float: left;
    margin: 15px;
    width: 25%;
}

img.david {
    float: right;
    margin: 15px;
    width: 25%;
}

img.friendscastprijzen{
    float: left;
    margin: 15px;
    width: 30%;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2.rood {
    background-color: rgb(255, 0, 0);
    text-align: center;

}

h2.blauw {
    background-color: rgb(0, 0, 255);
    text-align: center;
}

h2.geel {
    background-color: rgb(255, 255, 0);
    text-align: center;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ff0000;
}

nav li a.active {
    background-color: rgb(0, 0, 0);
}

/* animaties */
@keyframes veranderkleur{
    0% {
        border-color: rgb(red);
    }
    50% {
        border-color: rgb(blue);
    }
    100% {
        border-color: rgb(yellow);
    }
}

.veranderkleur {
    animation: veranderkleur 10s infinite;
}


